<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AKHILESH PRASAD GUPTA</title>
    <link rel="shortcut icon" type="image/png" href="../img/coverphoto.jpg">

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/resume.min.css" rel="stylesheet">
  </head>

  <body id="page-top" style="background-color:rgb(245, 245, 245);">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">AKHILESH PRASAD GUPTA</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../img/coverphoto.jpg" alt="" style="width:200px">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="../index.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="education.html">Education</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="othercourses.html">Other Courses</a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="workexperience.html">Work Experience and Programming</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="research.html">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="publications.html">Publications</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="programming.html">Programming</a>
          </li> -->
          
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="skills.html">Skills and Achievements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="memories.html">Memorable Events</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="communityservice.html">Community Service</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="hobbies.html">Hobbies</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="abstractions.html">Abstractions</a>
          </li> -->
        </ul>
      </div>
    </nav>
    <div class="container-fluid p-0">
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="education">
        <div class="Skills">
          <h2 class="mb-5" style="color:#0b59b3">Somes Memories</h2>
          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <ul class="list-unstyled">
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">Representing our college at BMS College of Engineering, Bangalore, India</span><br>
                    <img src="../img/BangaloreVisit.jpg" alt="Representing our college" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">Photos with students attended at ETABS training program</span><br>
                    <img src="../img/EtabsTraininGroup.jpg" alt="ETABS training program" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">My first professional work placed in discussion hall of Mahankalchour Branch, KUKL</span><br>
                    <img src="../img/MapAtKUKL.jpg" alt="Professional work at KUKL" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">Final year building project team with our Supervisor</span><br>
                    <img src="../img/GroupPhoto.jpg" alt="Final year project team" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">Amazed to see huge column in building</span><br>
                    <img src="../img/BuildingEmbracing.jpg" alt="Huge column in building" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">My first site visit to building construction</span><br>
                    <img src="../img/BuildingSiteVistTop.jpg" alt="First site visit" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">My site visit to ktm tower building construction</span><br>
                    <img src="../img/SitevisitToKtmTower.jpg" alt="First site visit" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">Research Intern at KUKL, Mahankalchour</span><br>
                    <img src="../img/KUKLWork.jpg" alt="Research Intern at KUKL" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">Submission of Map to Head of KUKL</span><br>
                    <img src="../img/KUKLSubmmit.jpg" alt="Submission of Map to KUKL" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">Paper Bridge Coordinator at CESS-Nepal</span><br>
                    <img src="../img/PaperBridge.jpg" alt="Paper Bridge Coordinator" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">Volunteer in flash mob CESS-Nepal</span><br>
                    <img src="../img/FlashMob.JPG" alt="Volunteer in flash mob" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">Our engineering class batch</span><br>
                    <img src="../img/ClassGroup.jpg" alt="Engineering class batch" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">Daraudi River in Gorkha</span><br>
                    <img src="../img/DaraudiRiver.jpg" alt="Daraudi River" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">GNSS Survey in hilltop of a village in Gorkha</span><br>
                    <img src="../img/GNSSSurvey.jpg" alt="GNSS Survey in Gorkha" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">Sunny and warm weather in winter season during Gorkha site visit</span><br>
                    <img src="../img/Gnsssurvey2.jpg" alt="Gorkha site visit" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">Beautiful moment captured at Nagarkot Sunrise</span><br>
                    <img src="../img/Nagarkot.jpg" alt="Nagarkot Sunrise" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">NaghPokhari of Lalitpur</span><br>
                    <img src="../img/NaghPokhari.jpg" alt="NaghPokhari of Lalitpur" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">Site Survey at Amlapani Village of Gorkha</span><br>
                    <img src="../img/SaraswatiPujaDayPhotoAtAmlaPani.jpg" alt="Site Survey Amlapani" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">At Godawari Heights during Site Visit</span><br>
                    <img src="../img/SiteSurvey.jpg" alt="Godawari Heights Site Visit" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">NWASH Survey</span><br>
                    <img src="../img/SiteSurvey1.jpg" alt="NWASH Survey" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">Traffic Survey</span><br>
                    <img src="../img/TrafficSurvey.jpg" alt="Traffic Survey" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">Wall painting of house</span><br>
                    <img src="../img/HouseDrawn.jpg" alt="Wall painting of house" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">Wall painting of Calculator</span><br>
                    <img src="../img/Wall Painting.jpg" alt="Wall painting of Calculator" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">Greenery season in Pulchowk Campus</span><br>
                    <img src="../img/PhotoAtPulchowk.jpg" alt="Greenery season in Pulchowk Campus" class="img-fluid">
                  </p>
                </div>
                <hr>
                <div class="text-center">
                  <p style="font-size:100%;">
                    <span style="font-weight: bold;">High School awards</span><br>
                    <img src="../img/FirstInHighSchool.jpg" alt="High School awards" class="img-fluid">
                  </p>
                </div>
                <hr>
              </ul>
              
            </div>
            </div>
                                          
        </div>
      </section>

      </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/resume.min.js"></script>

  </body>

</html>
