<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AKHILESH PRASAD GUPTA</title>
    <link rel="shortcut icon" type="image/png" href="../img/coverphoto.jpg">

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/resume.min.css" rel="stylesheet">
    <style>
      .d-flex1 {
        display: flex;                /* Enables flexbox layout */
        justify-content: space-between; /* Distributes space between items, pushing them to the ends */
        align-items: center;          /* Vertically centers items within the container */
        width: 100%;                  /* Ensures the container takes the full width of its parent */
      }
      .grid-container {
  display: grid;                /* Use grid layout */
  grid-template-columns: 1fr 1fr; /* Create two equal columns */
  align-items: center;          /* Center items vertically within their grid areas */
  width: 100%;                  /* Ensure the grid container spans the full width of its parent */
  border: 1px solid #ddd;       /* Optional: Border to visualize the grid container */
}

.job-title {
  font-size: 130%;
  color: #003c3c;
  text-align: left;             /* Align text to the left within its grid column */
}

.date {
  text-align: right;            /* Align text to the right within its grid column */
  color: #0000FF;               /* Blue color for the date text */
}

    </style>
  </head>

  <body id="page-top" style="background-color:rgb(245, 245, 245);">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">AKHILESH PRASAD GUPTA</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../img/coverphoto.jpg" alt="" style="width:200px">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="../index.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="education.html">Education</a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="othercourses.html">Other Courses</a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="workexperience.html">Work Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="research.html">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="publications.html">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="codeandsoft.html">Softwares</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="skills.html">Skills and Achievements</a>
          </li>
        
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="communityservice.html">Community Service</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="hobbies.html">Hobbies</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="abstractions.html">Abstractions</a>
          </li> -->
        </ul>
      </div>
    </nav>
    <div class="container-fluid p-0">
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div>
          <h2 class="mb-5" style="color:#003c3c">Work experience</h2>
          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <!--content start--->
              <!--<h3 class="mb-1">Research Experience</h3> 
                <ol reversed class = "workexp"  style="font-weight: bold;"> 
                  --->
                  <hr></hr>
                  <li class="workexp" style="list-style-type: none;">
                    <div class="resume-item d-grid">
                      <div class="resume-content">
                        <div class="d-flex justify-content-between align-items-center">
                          <h3 class="mb-0" style="font-size:130%; color:#003c3c;">Software Developer</h3>
                          <span class="text-primary">Sep 2023 - Present</span>
                        </div>
                        <div style="font-size: 110%;">Softwel Pvt Ltd, Baneshwor, Ktm</div>
                        <div class="lead">
                          <ul style="padding-bottom: 0.75rem;">
                            <li>Geodatabase Conversion software in VB.NET</li> 
                            - Converted geodatabases of water supply networks into compatible files for use in SW WSP Software and in QGis
                            <li>Contributed SW Estimator Software in VB.NET</li>
                            - Generated automated Excel Reports for the Suswa water supply projects
                            <a href="http://swwsp.softwel.com.np/swwsp_estimator_suswa/" target="_blank" style="color: #007bff; text-decoration: underline;">Click here</a>
                            <li>Developed algorithms for SW WSP Software in VB.NET</li>
                            - Developed route-finding algorithms to automate calculations<br>
                            - Developed algorithms for automatic generation of Schematic Maps in AutoCAD
                            <a href="https://downloads.softwel.com.np/Download/SwWsp" target="_blank" style="color: #007bff; text-decoration: underline;">Click here</a>
                            <li>Worked on GNSS software development for civil engineering surveys</li>
                            - Developed algorithms for Single Point Processing in C#<br>
                            - Processed data by reading UBX, RINEX observation, and Navigation files<br>
                            - Calculated satellite coordinates in the UTM Coordinate system and receiver positions using the algorithm specified in Interface Specification IS-GPS-200<br>
                            - Understood general concepts of Single, DGPS, RTX, and PPP Processing
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <hr></hr>
                  <li class = "workexp" style="list-style-type: none;">
                    <div class="resume-item d-flex flex-column flex-md-row">
                      <div class="resume-content mr-auto">
                        <div class="d-flex justify-content-between align-items-center">
                          <h3 class="mb-0" style="font-size:130%; color:#003c3c;">Civil Engineer</h3>
                          <span class="text-primary">Sep 2023 - Present</span>
                        </div>
                        <div style="font-size: 110%";>Aviyaan Consulting Pvt Ltd, Baneshwor, Ktm</div>
                        <div class="lead"> <ul style="padding-bottom: 0.75rem;">
                          <li> Design and analysis of Multistoried RCC and Steel Structures<br>
                          - Preparation of Structural Drawings and Structural Reports
                          - Designed foundations based on soil conditions in different districts<br>
                          - Software: Etabs, Autocad, Excel                        
                            <li>Conducted surveys and drafted reports for various projects</li>
                          - Capacity Strengthening and Transport System Master Plan of Traffic funded by JAICA<br>
                          - NWASH Survey of Godawari Municipality funded by WATER-AID: Surveyed all existing pipelines and sources of 108 water schemes in Godawari Municipality<br>
                          - Lift Irrigation Survey at 30 potential sites around the Draudi River in Gorkha
                        </div>
                      </div>
                    </div>
                  </li>
                  <hr></hr>
                  <li class="workexp" style="list-style-type: none;">
                    <div class="resume-item d-grid">
                      <div class="resume-content">
                        <div class="d-flex justify-content-between align-items-center">
                          <h3 class="mb-0" style="font-size:130%; color:#003c3c;">Math Teacher</h3>
                          <span class="text-primary">Sep 2023 - Present</span>
                        </div>
                        <div style="font-size: 110%;">Space Academy, Baneshwor</div>
                        <div class="lead">
                          <ul style="padding-bottom: 0.75rem;">
                            <li>Engineering Mathematics Volume-III</li> 
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <hr></hr>
                  <li class="workexp" style="list-style-type: none;">
                    <div class="resume-item d-flex flex-column flex-md-row">
                      <div class="resume-content mr-auto">
                        <div class="d-flex justify-content-between align-items-center">
                          <h3 class="mb-0" style="font-size:130%; color:#003c3c;">Research Assistant</h3>
                          <span class="text-primary">May 2023 - Aug 2023</span>
                        </div>
                        <div style="font-size: 110%;">Center for Water Resources, IOE, Pulchowk Campus</div>
                        <div><i>Enhancing Water Security in Kathmandu Valley through Collaborative Research and Capacity Strengthening</i></div>
                        <div class="lead">
                          <ul style="padding-bottom: 0.75rem;">
                            <li>Full-scale map preparation and water scheduling optimization of the existing distribution network in the Kapan area</li>
                            <li>Conducting rigorous site visits and collaborating with engineers, valve operators, and local residents to gather information on the existing pipeline</li>
                            <li>Software: AutoCAD, QGIS, Excel</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  
            </div>
         </div>
        </div>
      </section>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/resume.min.js"></script>

  </body>

</html>
